<!DOCTYPE html>
<html lang="en">
<head>
	<!-- {{URL_WEB}}  {{CACHE}}-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Inicio</title>

	<link rel="stylesheet" type="text/css" href="https://mattprofe.com.ar/alumno/6846/app-estacion/static/css/landing.css">
</head>
<body>
	
	<div class="container">
		<div class="container-btn">
			
			<h1 >Bienvenido a App Estacion</h1>
			<h2 >Haz clic para acceder a tu estacion meteorologica</h2>
    		<button><a href="panel" >Acceder</a> </button>

  		</div>
	</div>

<!-- 
	<nav>
		<a href="{{URL_WEB}}/login">Login</a>
		<a href="{{URL_WEB}}/register">Register</a>
	</nav>
 -->
</body>
</html>